html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 10%;
  background-color: #1010ff;
}
.header div {
  width: 960px;
  height: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
}
.banner {
  position: relative;
  width: 100%;
  height: 25%;
  background-image: url(img/sea.jpg);
  background-size: cover;
  color: rgba(255, 255, 255, 0.3);
}
.banner i {
  position: absolute;
  right: 0;
  bottom: 0;
}
.nav {
  height: 7%;
}
.nav table {
  width: 960px;
  height: 100%;
  margin: auto;
  border-bottom: 1px #ddd solid;
  text-align: center;
}
.nav table tr td:last-of-type {
  border-right: none;
}
.main {
  width: 960px;
  height: 50%;
  margin: auto;
}
.main .article {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 200, 0.3);
  display: flex;
}
.main .article ul li {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px #A60000 solid;
  padding: 80px;
}
.main .article ul li:last-of-type {
  width: calc(100%-360px);
}
.footer {
  width: 100%;
  height: 8%;
  background-color: #ddd;
}
